body {
    font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code,
pre {
    font-family: "Fira Code", "Fira Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
    font-size: 100%;
}

.masthead {
    .masthead-title {
        font-size: 3em;
        font-weight: 900;

        small {
            margin-top: 16px;
            display: block;
            font-size: 40%;
            font-weight: 300;
        }
    }
    
}

.post-title {
    text-transform: capitalize;
}

@media(min-width: 90em) {
    body {
        font-size: 18px;

        .container {
            max-width: 55em;
        }
    }
}

.index {

    .post, .post-title {
        margin-bottom: 4px;
    }

    .post-date {
        display: inline;
    }

    .tag-list {}

    .tag-count {
        color: grey;
    }

    .description { 
        
    }
}