{{ define "main" -}}

{{ .Content }}

<div class="posts">
    <!--$paginator-->
    {{$p := .Pages}}
    {{$p = where site.RegularPages "Type" "updates"}}
    {{$paginate := .Paginate $p}}

	{{range $paginate.Pages}}
    <article class="blog-post">
        <div class="post-title">
            <h1>{{ .Title }}</h1>
            <small> / <a href="{{ .Permalink }}">permalink</a></small>
        </div>
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
            {{ .Date.Format "Mon, Jan 2, 2006" }}
        </time>
        {{ .Summary }}
    </article>
    {{- end }}

    <!--pagination-->
    {{ $paginator := .Paginator }}
    <!-- If there's more than one page. -->
    {{ if gt $paginator.TotalPages 1 }}
    <div class="pagination">
        <!-- Previous page. -->
        {{ if $paginator.HasPrev }}
        <a class="pagination-item older" href="{{ $paginator.Prev.URL }}">Newer</a>
        {{ else }}
        <span class="pagination-item older">Newer</span>
        {{ end }}
        <!-- next page -->
        {{ if $paginator.HasNext }}
        <a class="pagination-item newer" href="{{ $paginator.Next.URL }}">Older</a>
        {{ else }}
        <span class="pagination-item newer">Older</span>
        {{ end }}
    </div>
    {{ end }}

</div>

{{- end }}
