
{{define "main"}}

<!--$paginator-->
{{$p := .Pages}}
{{if .IsHome}}
{{$p = where site.RegularPages "Type" "in" site.Params.mainSections}}
{{else if eq .Kind "taxonomy"}}
{{$p = $p.ByTitle}}
{{end}}
{{$paginator := .Paginate $p}}

<div>
	{{range $paginator.Pages}}
	<div>
		<span class="post-link"><a href="{{.RelPermalink}}">{{.Title}}</a></span>
		<span class="post-date"> &middot; {{.Date.Format "2006-01-02"}}</span>
		<p class="post__summary">{{ .Summary }}</p>
	</div>
	{{end}}
</div>

<!--pagination-->
{{template "_internal/pagination.html" .}}

{{end}}