body {
    font-family: "Fira Sans", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    font-size: 16px;
    list-style-type: 1.4;

    color: black;
}

a {
    text-decoration: none;
}

.pagination {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.pagination .page-item {
    display: inline-block;
    padding-left: 8px;
}

footer {
    margin: 16px 0 64px 0;
}

.subtitle {
    font-size: 0.9em;
    color: #555;
}

h1, h2, h3 {
    font-weight: bold;
}

.highlight pre,
.highlight code {
    font-family: "fira code", "Noto Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* Browser specific (not valid) styles to make preformatted text wrap */		
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media (min-width: 30em) {
    body {
        margin:0 auto;
        max-width: 32em;
    }
}

@media (min-width: 60em) {
    body {
        margin:0 auto;
        max-width: 40em;

        font-size: 20px;
        line-height: 1.5;
    }
}