<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>
        {{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}
    </title>
  
    {{ $options := (dict "enableSourceMap" true) }}
    {{ $styles := resources.Get "sass/styles.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">
    {{ $local_styles := resources.Get "sass/local_styles.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $local_styles.Permalink }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    {{- /* RSS */}}
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
  </head>
  